In [1]:
import pandas as pd

In [8]:
df = pd.read_excel('F:\stock market\Quant\Jupiter\\3899.xlsx')
df = df[['NSE Code', 'Current Price','Market Capitalization', 'Sales', 'Price to Earning', 'Price to book value', 'EVEBITDA']]
df['Price to Sales'] = df['Market Capitalization']/ df['Sales']
df = df[['NSE Code', 'Current Price', 'Price to Sales', 'Price to Earning', 'Price to book value', 'EVEBITDA']]
df = df.dropna()
df

,NSE Code,Current Price,Price to Sales,Price to Earning,Price to book value,EVEBITDA
0,RELIANCE,1994.50,2.805154,29.65,1.81,15.54
1,TCS,3035.65,6.839585,33.71,12.99,22.58
2,HDFCBANK,1412.30,6.059055,24.47,4.42,19.83
3,INFY,1354.35,5.743488,29.90,7.56,18.58
4,HINDUNILVR,2353.75,11.759580,67.65,11.60,45.58
...,...,...,...,...,...,...
3223,PULZ,10.70,0.186979,2.72,0.44,0.69
3261,CONTI,5.45,0.062158,9.40,0.47,5.93
3277,SMVD,10.65,0.091364,7.25,0.25,5.53
3366,TRANSWIND,6.55,0.543424,39.82,0.29,5.54
3534,VASA,5.00,0.093575,3.49,0.27,4.50

In [16]:
rv_columns = [
    'Ticker',
    'Price',
    'Price-to-Earnings Ratio',
    'PE Percentile',
    'Price-to-Book Ratio',
    'PB Percentile',
    'Price-to-Sales Ratio',
    'PS Percentile',
    'EV/EBITDA',
    'EV/EBITDA Percentile',
    'RV Score'
]

rv_dataframe = pd.DataFrame(columns = rv_columns)
rv_dataframe[['Ticker', 'Price', 'Price-to-Earnings Ratio', 'Price-to-Book Ratio', 'Price-to-Sales Ratio', 'EV/EBITDA']] = df[['NSE Code', 'Current Price', 'Price to Earning', 'Price to book value', 'Price to Sales', 'EVEBITDA']]

from scipy import stats
metrics = {
            'Price-to-Earnings Ratio': 'PE Percentile',
            'Price-to-Book Ratio':'PB Percentile',
            'Price-to-Sales Ratio': 'PS Percentile',
            'EV/EBITDA':'EV/EBITDA Percentile'
}

for row in rv_dataframe.index:
  for metric in metrics.keys():
    rv_dataframe.loc[row, metrics[metric]] = stats.percentileofscore(rv_dataframe[metric],rv_dataframe.loc[row, metric])/100
    
rv_dataframe

,Ticker,Price,Price-to-Earnings Ratio,PE Percentile,Price-to-Book Ratio,PB Percentile,Price-to-Sales Ratio,PS Percentile,EV/EBITDA,EV/EBITDA Percentile,RV Score
0,RELIANCE,1994.50,29.65,0.60823,1.81,0.483951,2.805154,0.687243,15.54,0.672428,NaN
1,TCS,3035.65,33.71,0.658848,12.99,0.947325,6.839585,0.881481,22.58,0.797531,NaN
2,HDFCBANK,1412.30,24.47,0.546502,4.42,0.765844,6.059055,0.855144,19.83,0.76214,NaN
3,INFY,1354.35,29.90,0.612346,7.56,0.872428,5.743488,0.845267,18.58,0.736626,NaN
4,HINDUNILVR,2353.75,67.65,0.84856,11.60,0.941564,11.759580,0.945679,45.58,0.942387,NaN
...,...,...,...,...,...,...,...,...,...,...,...
3223,PULZ,10.70,2.72,0.012346,0.44,0.073663,0.186979,0.036214,0.69,0.009053,NaN
3261,CONTI,5.45,9.40,0.172016,0.47,0.082305,0.062158,0.003292,5.93,0.20823,NaN
3277,SMVD,10.65,7.25,0.102058,0.25,0.023868,0.091364,0.009053,5.53,0.17284,NaN
3366,TRANSWIND,6.55,39.82,0.720165,0.29,0.037449,0.543424,0.197531,5.54,0.174074,NaN
3534,VASA,5.00,3.49,0.021399,0.27,0.030041,0.093575,0.0107,4.50,0.111523,NaN

In [17]:
from statistics import mean

for row in rv_dataframe.index:
  value_percentiles = []
  for metric in metrics.keys():
    value_percentiles.append(rv_dataframe.loc[row, metrics[metric]])
  rv_dataframe.loc[row, 'RV Score'] = mean(value_percentiles)

rv_dataframe

,Ticker,Price,Price-to-Earnings Ratio,PE Percentile,Price-to-Book Ratio,PB Percentile,Price-to-Sales Ratio,PS Percentile,EV/EBITDA,EV/EBITDA Percentile,RV Score
0,RELIANCE,1994.50,29.65,0.60823,1.81,0.483951,2.805154,0.687243,15.54,0.672428,0.612963
1,TCS,3035.65,33.71,0.658848,12.99,0.947325,6.839585,0.881481,22.58,0.797531,0.821296
2,HDFCBANK,1412.30,24.47,0.546502,4.42,0.765844,6.059055,0.855144,19.83,0.76214,0.732407
3,INFY,1354.35,29.90,0.612346,7.56,0.872428,5.743488,0.845267,18.58,0.736626,0.766667
4,HINDUNILVR,2353.75,67.65,0.84856,11.60,0.941564,11.759580,0.945679,45.58,0.942387,0.919547
...,...,...,...,...,...,...,...,...,...,...,...
3223,PULZ,10.70,2.72,0.012346,0.44,0.073663,0.186979,0.036214,0.69,0.009053,0.032819
3261,CONTI,5.45,9.40,0.172016,0.47,0.082305,0.062158,0.003292,5.93,0.20823,0.116461
3277,SMVD,10.65,7.25,0.102058,0.25,0.023868,0.091364,0.009053,5.53,0.17284,0.076955
3366,TRANSWIND,6.55,39.82,0.720165,0.29,0.037449,0.543424,0.197531,5.54,0.174074,0.282305
3534,VASA,5.00,3.49,0.021399,0.27,0.030041,0.093575,0.0107,4.50,0.111523,0.043416

In [21]:
rv_dataframe.sort_values(by='RV Score', inplace = True)
# rv_dataframe = rv_dataframe[:]
# rv_dataframe.reset_index(drop=True, inplace=True)
# 
# rv_dataframe.head(30)
rv_dataframe.to_csv('Robust Value 3389 stocks.csv')